<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/styles.css') }} ">
    {% block head %} {% endblock %}
</head>

<header>
    <div class="nav-container">
        <div class="nav">
            <a href="/">Home</a>
            <a href="/data-preview">Data Preview</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
</header>

{% block body %} {% endblock %}

</html>